[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
textblob = "*"
pylint = "*"
pytest = "*"
flask = "*"
tweepy = "*"
flask-cors = "*"

[requires]
python_version = "3.6"
