body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: #f2e8e8;
  height: 100%;
  background: #2193b0;
  background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);
  background: linear-gradient(to right, #6dd5ed, #2193b0);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  display: grid;
  grid-template-columns: 25% 50% 25%;
}

/* #main-subheader {
  margin-bottom: 20px;
  padding-bottom: 50px;
} */

/* #landing-subheader {
  margin-top: -100px;
} */
