body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: #f2e8e8;
  height: 100%;
  background: #2193b0;
  background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);
  background: linear-gradient(to right, #6dd5ed, #2193b0);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body,
html {
  height: 100%;
  display: grid;
}

#input {
  margin: auto;
}
