[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
textblob = "*"
numpy = "*"
nltk = "*"
pandas = "*"
scikit-learn = "*"
wheel = "*"
scipy = "*"
sklearn = "*"

[dev-packages]

[requires]
python_version = "3.6"
